@media screen and (max-width: 930px ) {
    main{
        width: 97%;
        height: 96%;
    }

    .main-section nav, .main-section .artist-content, .main-section .popular-songs, .main-section .popular-artists{
        width: 96%;
    }
}

@media screen and (max-width: 866px ) {
    main{
        width: 98%;
        height: 97%;
    }
    .side-bar{
        display: none;
        position: absolute;
        width: 35%;
        height: 97%;
        z-index: 5;
    }

    .side-bar .side-bar-back-btn{
        display: inline;
    }

    .main-section{
        width: 100%;
    }
    .main-section nav .playlist-icon {
        display: inline;
    }
}

@media screen and (max-width: 660px) {
    .main-section nav ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background: var(--main-bg-color);
        padding: 1em;
        z-index: 5;
        top: 10%;
        left: -1%;
        border-radius: 15px;
    }

    .main-section nav ul li span {
        width: 85%;
    }

    .main-section nav .hamburger-icon {
        display: inline;
    }

    .main-section nav .search {
        width: 45%;
    }
}